*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #070707;
    border-radius: 5px;
    padding: 20px;
}

.titulo{
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

::placeholder{
    padding: 10px;
}

input{
    background-color: #070707;
    border:solid 2px rgb(149, 68, 224);
    border-radius: 5px;
    width: 300px;
    height: 24px;
}
