*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: rgb(240, 240, 240);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #070707;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.titulo{
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 1rem 1rem 1.5rem 1rem;
}

::placeholder{
    padding: 10px;
    color: #fff;
}

input{
    background-color: #070707;
    border:solid 2px rgb(178, 95, 255);
    border-radius: 13px;
    width: 300px;
    height: 24px;
}

.button{
    padding: 1rem;
    display: flex;
    justify-content: center;
}

button{
    width: 50%;
    background: rgb(178, 95, 255);
    color: #070707;
    height: 30px;
    border-radius: 13px;
    border: none;
}
